<!DOCTYPE html>
<title>Console</title>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<html>
<body>
    

<div>
    <h1 align="center">Scholar Admin</h1>
    <a href="/admin" ><h3 align="center">login</h3></a>
</div>
</body>
</html>




<style>
div{
    font-family: lato;
}
h1{
    color: rgb(26, 25, 25);
    font-weight: 900;
}
body{

    background:linear-gradient(rgba(216, 216, 216, 0.45),rgb(255, 255, 255)) ;
    background-repeat: no-repeat;
    background-size: cover;
}


</style>
